nav {
    background-color: black;
    height: 90px;
    padding-top: 10px;
}

#logo {
    height: 70px;
    width: 200px;
    margin: 10px, 10px;
    background-color: white;
    float: left;
}

.nav-link {
    background-color: violet;
    height: 70px;
    width: 200px;
    color: wheat;
    display: inline-block;
}


