nav {
    background-color: black;
    height: 90px;
    text-align: center;
    line-height: 60px;
    padding-top: 10px;
    margin-bottom: 30px;
}

#logo {
    height: 70px;
    width: 200px;
    margin-top: 10px;
    margin-left: 35px;;
    background-color: white;
    color: gray;
    float: left;
}

.nav-link {
    height: 70px;
    width: 200px;
    background-color: violet;
    color: wheat;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}

img {
    /* display: block; */
    margin: 15px;
}

